@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Quattrocento:400,700');

/*font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;*/
#section1{
	background-image: url("asset/bg-banantesting.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size: 150% 150%;

	height: auto;
	border-bottom-left-radius:1000px 200px;
}

.bg-sec2-3{
	background-color: #E6E6E6; 
}

#section2{
	background-color: #FFFFFF;
	height: 500px;
	border-bottom-left-radius:1000px 200px;
}
#pricing{
	height: 500px;
}
.contact-left{
	background: transparent;
	height: 400px;
}
.contact-right{
	background-color: #72B0C7;
	height: 400px;
}
.footer{
	background-color: #333333;
}

.hr-title{
	width: 65px;
	border-bottom:2px solid #1A1A1A;
	margin-top: 15px; 
}

/*text*/
.text-sec1-title{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #1A1A1A;
	margin-top: 200px;
}

.text-sec1-subtitle{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #1A1A1A;
	margin-top: 50px;
}

.text-sec-title{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #1A1A1A;
	margin-top: 200px;
}
.text-pricing-subtitle{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #808080;
	text-align: center;
	margin-top: 15px;
}
.text-contact-title{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #1A1A1A;
	margin-top: 100px;
}
.text-contact-detail{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #1A1A1A;
	text-align: center;
	margin-top: 50px;
}

.text-footer{
	text-align: center;
	font-family: 'Quattrocento', serif;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 50px;
}
.text-footer>a{
	color: #72B0C7;
}
.row>input{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	width: 350px;
	margin-top: 50px;
	padding: 8px;

}
/*button*/
.btn-get-started{
	background-color: #036781;
	font-family: 'Quattrocento', serif;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 100px;
	margin-bottom: 200px;
	padding: 8px 32px 8px 32px;
	border-radius: inherit;
}

.btn-get-started:hover{
	color: #FFFFFF;
	background-color: #72B0C7;
}

.btn-get-started:focus{
	color: #FFFFFF;
}

.btn-social{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #1A1A1A;
	margin-top: 50px;
	margin-bottom: 100px;
}
.btn-social-center{
	border-left: 2px solid #1A1A1A;
    border-right: 2px solid #1A1A1A;
    border-radius: inherit;
}
.btn-social>button{
	background: transparent;
}
.btn-contact-subsribe{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #333333;
	border-radius: initial;
	padding: 8px 32px 8px 32px;
	margin-top: 50px;
	margin-bottom: 100px;
}