@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Quattrocento:400,700');

/*font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;*/

body{
	background-image: url("asset/bg-banantesting.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
}

.container-fluid-fixed{
	width: 1170px;
	margin-right: auto;
    margin-left: auto;
}

#section1{
	background-image: url("asset/bg-banantesting.png");
	background-repeat:no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-size: cover;

	height: auto;
	border-bottom-left-radius:1000px 200px;
}

.bg-sec1{
	background-color: #FFFFFF;
}

.bg-sec2-3{
	background-color: #E6E6E6; 
}

#section2{
	background-color: #FFFFFF;
	height: auto;
	border-bottom-left-radius:1000px 200px;
}
#pricing{
	height: auto;
}
.contact-left{
	background: transparent;
	height: 400px;
}
.contact-right{
	background-color: #66CCCC;
	height: 400px;
}
.footer{
	background-color: #333333;
}

.hr-title{
	width: 65px;
	border-bottom:2px solid #1A1A1A;
	margin-top: 15px; 
}

.hr-pricing{
	width: 160px;
	border-bottom:2px solid #666666;
	margin-top: 10px; 
}

/*text*/
.text-sec1-title{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #1A1A1A;
	margin-top: 200px;
	letter-spacing: 3px;
}

.text-sec1-subtitle{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #1A1A1A;
	margin-top: 50px;
}

.text-sec-title{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #1A1A1A;
	margin-top: 200px;
	letter-spacing: 2px;
}

.title-feature{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #1A1A1A;
	margin-top: 30px;
}

.detail-feature{
	font-family: 'Quattrocento', serif;
	font-size: 14px;
	color: #808080;
}

.text-feature{
	margin-top: 100px;
	margin-bottom: 200px;
}

.text-pricing-subtitle{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #808080;
	text-align: center;
	margin-top: 15px;
}
.text-contact-title{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #1A1A1A;
	margin-top: 100px;
	letter-spacing: 2px;
}
.text-contact-detail{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #1A1A1A;
	text-align: center;
	margin-top: 50px;
	letter-spacing: 1px;
}

.title-hex{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 30px;
    margin-bottom: 50px;
}

.detail-hex{
	font-family: 'Quattrocento', serif;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
}

.detail-hex>p{
	margin-top: 20px;
}

.inner-cricle{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-align: center;
	color: #FFFFFF;
	padding-top: 15px;
}

.text-footer{
	text-align: center;
	font-family: 'Quattrocento', serif;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 40px;
	margin-bottom: 50px;
}
.text-footer>a{
	color: #66CCCC;
}
.row>input{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	width: 350px;
	margin-top: 50px;
	padding: 8px;

}
/*button*/
.btn-get-started{
	background-color: #036781;
	font-family: 'Quattrocento', serif;
	color: #FFFFFF;
	font-size: 16px;
	margin-top: 100px;
	margin-bottom: 200px;
	padding: 8px 32px 8px 32px;
	border-radius: inherit;
}

.btn-get-started:hover{
	color: #FFFFFF;
	background-color: #72B0C7;
}

.btn-get-started:focus{
	color: #FFFFFF;
}

.btn-social{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #1A1A1A;
	margin-top: 50px;
	margin-bottom: 100px;
}
.btn-social-center{
	border-left: 2px solid #1A1A1A;
    border-right: 2px solid #1A1A1A;
    border-radius: inherit;
}
.btn-social>button{
	background: transparent;
}

.btn-social>button:hover{
	border-bottom: 2px solid #66CCCC;
	border-radius: inherit;
	color: #66CCCC;
}

.btn-contact-subsribe{
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #333333;
	border-radius: initial;
	padding: 8px 32px 8px 32px;
	margin-top: 50px;
	margin-bottom: 100px;
}

.btn-contact-subsribe:hover{
	background: transparent;
	border:1px solid #1A1A1A; 
}

.btn-contact-subsribe:focus{
	color: #FFFFFF; 
}

.btn-select-pricing{
	background-color: #036781;
	font-family: 'Quattrocento', serif;
	color: #FFFFFF;
	font-size: 16px;
	padding: 8px 32px 8px 32px;
	border-radius: inherit;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn-select-pricing:hover{
	color: #FFFFFF;
	background-color: #72B0C7;
}

.btn-select-pricing:focus{
	color: #FFFFFF;
}

.btn-select-pricing-center{
	background-color: #1A1A1A;
	font-family: 'Quattrocento', serif;
	color: #FFFFFF;
	font-size: 16px;
	padding: 8px 32px 8px 32px;
	border-radius: inherit;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn-select-pricing-center:hover{
	color: #FFFFFF;
	background-color: #4D4D4D;
}

.btn-select-pricing-center:focus{
	color: #FFFFFF;
}

.nav-pills>li>a:hover{
	text-decoration: none;
}
/*hexagon*/

.hexagon {

	position: relative;
	width: 228px; 
	height: auto;
	background-color: #333333;
	margin: 65.82px 0;
	margin-top: 200px;
	margin-bottom: 200px;
}

.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 114px solid transparent;
	border-right: 114px solid transparent;
}

.hexagon:before {
	bottom: 100%;
	border-bottom: 65.82px solid #333333;
}

.hexagon:after {
	top: 100%;
	width: 0;
	border-top: 65.82px solid #333333;
}

.hexagon-center {
	position: relative;
	width: 228px; 
	height: auto;
	background-color: #66CCCC;
	margin: 65.82px 0;
	margin-top: 200px;
	margin-bottom: 200px;
}

.hexagon-center:before,
.hexagon-center:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 114px solid transparent;
	border-right: 114px solid transparent;
}

.hexagon-center:before {
	bottom: 100%;
	border-bottom: 65.82px solid #66CCCC;
}

.hexagon-center:after {
	top: 100%;
	width: 0;
	border-top: 65.82px solid #66CCCC;
}

.circle{
	width: 70px;
	height: 70px;
	background: #66CCCC;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    margin-top: 100px;
    margin-left: 77px;
    margin-bottom: -30px;
    position: absolute;
    z-index: 2;
}

.nav-pills>li[data-slide-to="0"].active a>p { 
	color: #66CCCC;
}
.nav-pills>li[data-slide-to="1"].active a>p { 
	color: #66CCCC;
}
.nav-pills>li[data-slide-to="2"].active a>p { 
	color: #66CCCC;
}

.icon-feature{
	margin-top: 56px;
}

.fa-back{
	font-size: 80px;
	color: #1A1A1A;
	position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.fa-front{
	font-size: 33px;
    position: relative;
    margin-left: 29%;
    margin-top: 35%;
    color: white;
}

.slide-screenshot{
	margin-top: 150px;
}
.slide-screenshot>img {
    position: absolute;
    z-index: 1;
    margin-top: -5%;
    padding-top: inherit;
}

.carousel-inner {
	margin-left: 15%;
	width: 430px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background: transparent;
}

.navbar-inverse{
	background: none;
	border:none;
	height: 60px;
}

.navbar-inverse .navbar-brand{
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	color: #1A1A1A;
}
.navbar-inverse .navbar-brand:hover{
	color: #1A1A1A;
}

.navbar-brand{
	padding: 5px 5px;
}
.navbar-inverse .navbar-nav>li>a{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover{
	border-bottom:2px solid #FFFFFF;
}

.navbar-inverse .navbar-nav>li>button{
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	background: transparent;
	padding: 8px 15px 8px 15px;
	border:2px solid #FFFFFF;
	margin-top: 5px;
}

.navCarousel {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.col-xs-1{
		padding-top: 70px;
	}
/*Ipad*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

  	.container-fluid-fixed{
  		padding-left: 15px;
  		padding-right: 15px;
		width: auto;
		margin-right: auto;
	    margin-left: auto;
	}
}

/*Iphone5/5s*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  	.container-fluid-fixed{
  		padding-left: 15px;
  		padding-right: 15px;
		width: auto;
		margin-right: auto;
	    margin-left: auto;
	}
}

/*Iphone 6/6+*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  	.container-fluid-fixed{
  		padding-left: 15px;
  		padding-right: 15px;
		width: auto;
		margin-right: auto;
	    margin-left: auto;
	}
	.slide-screenshot{
		margin-top: inherit;
	}

	.slide-screenshot>img {
	    position: absolute;
	    z-index: 1;
	    margin-top: 10%;
	    margin-left: -4%;
	    padding-top: inherit;
	}
	.carousel-inner{
		position: absolute;
	    width: 270px;
	    margin-left: 11%;
	    margin-top: 16%;
	}
	.col-xs-1{
		padding-top: 220px;
	}
	.fa-front{
		font-size: 35px
		margin-left:auto;
		margin-top: 17px;
	}
	.fa-back{
		font-size: 70px;

	}
	.icon-feature{
		display: none;
	}
	.text-feature{
		margin-top: 50px;
		text-align: center;
	}
}